// Place all the styles related to the bill_splitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    max-width: 960;
    width: 100%;
    margin: auto;
}

.form {
    margin: auto;
}

 .form input {
     display: block;
 }
