// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-icon {
  font-size: 22px;
  color: white;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: blue;
  border-radius: 5px;
  border: 1px solid #404046;
}
